<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <title>To do task</title>
</head>
<body>
<div id="app">
    <div class="add-task">
        <h3>Добавить задачу</h3>
        <div class="new-task">
            <input type="text" v-model="newCardTitle" placeholder="Название задачи">
        </div>
        <div class="task-form">
            <ul>
                <li v-for="(card, index) in newCardItems" :key="index">
                    <input type="text" v-model="newCardItems[index]" :placeholder="'Задача ' + (index + 1)">
                </li>
            </ul>
            <button class="add-button" @click="addCard">Добавить</button>
        </div>
    </div>

    <div class="container">
        <div v-for="(column, columnIndex) in columns" :key="columnIndex" class="part">
            <h4>{{column.title}}</h4>
            <div v-for="(task, taskIndex) in column.tasks" :key="taskIndex" class="task-card">
                <h4>{{task.taskTitle}}</h4>
                <ul>
                    <li v-for="(item, itemIndex) in task.items" :key="itemIndex">
                        <input type="checkbox" v-model="item.completed"
                               :disabled="columnBlock && columnIndex === 0 || columnIndex === 2"
                               @change="completeTask(task, column)">

                        <span :class="{ completed: item.completed }">{{ item.text }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
</body>
</html>